pipeline/incremental_ingestion.json
{
	"name": "incremental_ingestion",
	"properties": {
		"activities": [
			{
				"name": "AzureSQLToLake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "current",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM @{pipeline().parameters.schema}.@{pipeline().parameters.table} WHERE @{pipeline().parameters.cdc_col} > '@{if(empty(pipeline().parameters.from_date), variables('last_cdc_value'), pipeline().parameters.from_date)}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "azure_sql",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Parquet_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": {
								"value": "@pipeline().parameters.table",
								"type": "Expression"
							},
							"file": {
								"value": "@concat(pipeline().parameters.table,'_',variables('current'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "current",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "IfCDCExists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "current",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "IfIncrementalData",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "AzureSQLToLake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('AzureSQLToLake').output.dataRead, 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "DeleteEmptyFile",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "Parquet_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": {
											"value": "@pipeline().parameters.table",
											"type": "Expression"
										},
										"file": "@concat(pipeline().parameters.table,'_',variables('current'))"
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "update_last_cdc",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "max_cdc",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "cdc",
											"value": {
												"value": "@activity('max_cdc').output.resultSets[0].rows[0].cdc",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "json_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": "cdc",
										"file": "empty"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "json_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": "cdc",
										"file": {
											"value": "@pipeline().parameters.table",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "max_cdc",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "azure_sql",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "SELECT MAX(@{pipeline().parameters.cdc_col}) as cdc FROM @{pipeline().parameters.schema}.@{pipeline().parameters.table}",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "CheckFileExists",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "json_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": "cdc",
							"file": {
								"value": "@pipeline().parameters.table",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "IfCDCExists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CheckFileExists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('CheckFileExists').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "SetVar_False",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "last_cdc_value",
								"value": "1900-01-01 00:00:00"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "last_cdc",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"dataset": {
									"referenceName": "json_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": "cdc",
										"file": {
											"value": "@pipeline().parameters.table",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "SetVar_True",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "last_cdc",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "last_cdc_value",
								"value": {
									"value": "@activity('last_cdc').output.value[0].cdc",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"schema": {
				"type": "string"
			},
			"table": {
				"type": "string"
			},
			"cdc_col": {
				"type": "string"
			},
			"from_date": {
				"type": "string"
			}
		},
		"variables": {
			"current": {
				"type": "String"
			},
			"last_cdc_value": {
				"type": "String"
			},
			"default_cdc_value": {
				"type": "String"
			}
		},
		"annotations": []
	}
}